@use "../utils/box-shadow";

.explorer{
    text-align: center;
    padding: 0.5rem 0.5rem 3rem;
    background-color: #f3f3f3;  
    & p{
        margin-bottom: 2rem;
     }   
     & button{
         color: white;
         font-family: 'Roboto', sans-serif;
         font-size: medium;
         font-weight: 500;
         padding: 1em 1.5em 1em;
         border-radius: 2rem;
         border: none;
         background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9)) ;
         transition: all 200ms;
         @include box-shadow.shadow;
     }
     & button:hover{
         transform: scale(1.02) ;
         opacity: 0.9;
         box-shadow: 2px 6px 16px -4px #000000;
     }
 }